# Dependencies
**/node_modules

# Turbo
**/.turbo

# Artifacts
**/out
**/build
**/dist
**/__generated__
**/pruned

# Logs 
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*

# OS
**/.DS_Store

# IDE
**/.vscode

# Env
**/.env*
 
# Docker
**/*Dockerfile*
**/*.dockerignore*

# Git 
**/.gitignore
**/.gitkeep
**/.git

# ESLint
**/.eslint*
