# Dependencies
node_modules

# Turbo
.turbo

# Artifacts
out
build
dist
pruned
__generated__

# Logs 
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode

# Env
.env*

# Secrets
certificates
