# Dependencies
node_modules

# Turbo
.turbo

# Artifacts
out
build
dist
pruned
__generated__

# Logs 
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode

# Env
.env*

# Secrets
certificates
private-key.pem

# Terraform

## Local terraform directories
.terraform

## State
*.tfstate
*.tfstate.*
terraform/*/state
.terraform.tfstate.lock.info

## Crash log files
crash.log
crash.*.log

## Variables
*.tfvars
*.tfvars.json
