.icon {
	display: inline-block;

	width: 2rem;
	height: 2rem;

	background-color: var(--text-secondary);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;

	&.profile {
		mask-image: url('../../../public/icons/profile.svg');
	}

	&.edit {
		mask-image: url('../../../public/icons/edit.svg');
	}

	&.delete {
		mask-image: url('../../../public/icons/delete.svg');
	}

	&.close {
		mask-image: url('../../../public/icons/close.svg');
	}
}
