.icon {
	display: inline-block;

	width: 2rem;
	height: 2rem;

	background-color: var(--icon-bg);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;

	&.profile {
		mask-image: url('assets/icons/profile.svg');
	}

	&.edit {
		mask-image: url('assets/icons/edit.svg');
	}

	&.delete {
		mask-image: url('assets/icons/delete.svg');
	}

	&.close {
		mask-image: url('assets/icons/close.svg');
	}

	&.sun {
		mask-image: url('assets/icons/sun.svg');
	}

	&.moon {
		mask-image: url('assets/icons/moon.svg');
	}
}
