@use '../../sass/abstracts' as *;

.wrapper {
	background-color: var(--element-bg);

	position: absolute;
	inset: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 2rem;
}

.content {
	margin-bottom: 10vh;
	max-width: 41rem;
	width: 100%;

	h1 {
		margin-bottom: 0.8rem;
	}

	button + p {
		font-size: 1.6rem;
	}

	a {
		color: var(--action-color);

		&:hover {
			text-decoration: underline;
		}
	}

	:global {
		.input-list {
			margin: 3.6rem 0;
		}

		.button {
			width: 100%;
			margin-bottom: 2.4rem;
		}
	}
}
