@use '../../sass/abstracts' as *;

.button {
	margin: 3rem 0;
	font-weight: 500;

	display: flex;
	align-items: center;

	color: var(--text-main);

	&::before {
		content: '';

		margin-right: 1.5rem;
		width: 0.7rem;
		height: 1.2rem;

		background-color: currentColor;

		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;

		mask-image: url('../../../public/icons/arrow.svg');
	}
}

.grid {
	padding-bottom: 10rem;

	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;

	@include breakpoint-up('medium') {
		grid-template-columns: 1fr 1fr;
	}
}

.row {
	grid-column: 1 / -1;
}

.details {
	@include element;

	padding: 2.5rem 3rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	a {
		overflow-wrap: anywhere;
		max-width: 80%;
	}

	a:hover {
		text-decoration: underline;
	}

	@include breakpoint-up('small') {
		padding: 2.5rem 4rem;
	}
}

.statisticLoader {
	grid-column: 1 / -1;
	margin-top: 6rem;
}
